/* imports */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo:wght@100..900&display=swap');

/* NAV STYLES */

.nav {
  display: flex;
  flex-direction: row;
  width: fit-content;
  background-color: #1a1c23;
  justify-content: center;
  border-radius: 5px;
  gap: 7.5px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.2s ease;
  border: 1px solid #310f446b;
  font-size: 0.9rem;
}

.value {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: aliceblue;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.value:not(:active):hover,
.active,
.value:focus {
  background-color: #3f4555;
}

.value:focus,
.value:active {
  background-color: #a8b1c2;
  outline: none;
}

.value::before {
  content: "";
  position: absolute;
  top: 35px;
  right: 0px;
  width: 100%;
  height: 1px;
  background-color: #1a1c23;
  border-radius: 5px;
  opacity: 0;
}

.value:focus::before,
.value:active::before {
  opacity: 1;
}

.value svg {
  width: 15px;
  margin-top: 4px;
}

.value svg.normal {
  width: 15px;
  margin-top: 1px;
}

/* Styles */

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mainbox{
  background-color: #3f4555;
  width: 65rem;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 3rem;
}

.archivo-p {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.archivo-sub {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

